* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #ADADAD;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display:block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



.hero {
    background: #131313;
    padding: 100px 0;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.hero__img {
    width:540px; 
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    
}

.hero__heading {
    color: #00875A;
    font-size: 100px;
    text-align: left;
    align-items: center;
}

.highlight {
    border-bottom: 4px solid #00875A;
 }

@media screen and (max-width: 1200px) {
    .hero__container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__heading {
        text-align: center;
        margin: 0 auto;
        padding: 0px
    }

    .hero__img {
        width:540px; 
        height: auto;
        text-align: center;
        margin: 0 auto;
        padding: 0px
        
    }
}

@media screen and (max-width: 600px) {
    .hero__container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__heading {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        font-size: 65px;
    }

    .hero__img {
        width:350px; 
        height: auto;
        text-align: center;
        margin: 0 auto;
        padding: 0px
        
    }
 }

.hero img {
    border: 5px solid #fff;
    border-radius: 4px;
}

@media screen and (max-width: 450px) {
    .hero__container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__heading {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        font-size: 55px;
    }

    .hero__img {
        width:300px; 
        height: auto;
        text-align: center;
        margin: 0 auto;
        padding: 0px
        
    }
 }

.hero img {
    border: 5px solid #fff;
    border-radius: 4px;
}

/* about */
.about {
    background: #131313;
    padding: 50px 0;
}

.about__container {
    display: block;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
    color: #fff;
}

.about__container h1 {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.social__links--container {
    padding: 50px;
}

.social__links {
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 5px;
}

ion-icon {
    font-size: 64px;
  }

.social__links:hover {
    color: #00875A;
}

@media screen and (max-width: 825px) {


    .about__container h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 700px) {

    .about__container h1 {
        font-size: 60px;
    }
}

/* toolkit */

.toolkit {
    background: #131313;
    padding: 150px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: #fff
    
}

.toolkit h1 {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.toolkit img {
    height: 50px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 40px
}

.card {
    color: #fff;
}

.card__container {
    position: relative;
}

@media screen and (max-width: 825px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .toolkit h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .toolkit h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .toolkit h1 {
        font-size: 54px;
    }
}

/* projects */
.projects {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 100;
    color: #fff;
}

.projects h1 {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.project__card--containers:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.project__card--containers {
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 80%;
    text-align: center;
    /*
    border: 3px solid #fff;
    border-radius: 4px;
    */
    outline: 3px solid #fff;
    border-radius: 4px;
    padding: 5px;
}

.project__card--containers h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.project__card--content {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.project__card--content img {
    max-width: 90%;
    height: auto;
    border: 3px solid #fff;
    border-radius: 4px;
}

.project__card--containers button {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #131313;
    font-size: 1rem;
    border: 2px solid #fff;
    background: #00875A;
}

.project__button button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .project__card--containers {
        
    }

    .project__card--content {
        display: block;
    }

    .projects h1 {
        font-size: 80px;
    }
}


@media screen and (max-width: 1200px) {
    .project__card--containers {
        height: 550px
    }

    .projects h1 {
        font-size: 60px;
    }
}

/* footer */
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }